<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Christopherlopmx/blob/main/IBM_Semana_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Actividad 1 - Semana 3

In [6]:
input = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'

In [11]:
import pandas as pd

In [12]:
df=pd.read_csv(input)
df.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [14]:
tabla1 = df[['X2']]
tabla1

        X2
0      2.0
1      2.0
2      2.0
3      2.0
4      1.0
...    ...
29995  1.0
29996  1.0
29997  1.0
29998  1.0
29999  1.0

[30000 rows x 1 columns]

In [15]:
y = df[['X2','X10','X17']]
y

        X2  X10      X17
0      2.0 -2.0      0.0
1      2.0  0.0   3261.0
2      2.0  0.0  15549.0
3      2.0  0.0  29547.0
4      1.0  0.0  19131.0
...    ...  ...      ...
29995  1.0  0.0  15980.0
29996  1.0  0.0      0.0
29997  1.0  0.0  19357.0
29998  1.0  0.0  48944.0
29999  1.0  0.0  15313.0

[30000 rows x 3 columns]

In [16]:
df.iloc[0, 0]

1

In [17]:
df.iloc[1,2]

2.0

In [21]:
df.loc[0:2, 'X1':'X2']

       X1   X2
0   20000  2.0
1  120000  2.0
2   90000  2.0